<html>
    <head>
        <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <link rel ='icon' href='../static/ELLCA.jpg'>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel='author' value='BRUNO GOMES'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
        <title>PRESENCELLCA</title>
    </head>
    <body>

        <div id='content'>
            <img src='./static/ELLCA.jpg' alt='ELLCA LOCAÇÕES E SERVIÇOS'>
            <h1>LOCAÇÕES E SERVIÇOS</h1>
                <div class='menu'>
                    <a href='/veiculo'><button class='btnmenu active' id='veiculo' value='veiculo'>Veículo</button></a>
                    <a href='/'><button class='btnmenu' id='colaborador' value='colaboradores'>Colaboradores</button></a>
                    <a href='/scan'><button class='btnmenu' id='scan' value='scan'>Scan</button></a>
                    <a href='/composicao'><button class='btnmenu' id='composicao' value='composicao'>Composicao</button></a>
                </div>
            <form method='POST' id='formulario_veiculo' action='/veiculo'>

                <label for='placa'>Placa</label>
                <input id='placa' type="text" name='placa' onkeyup='remover(this)' maxlength="7"/>

                <label for='ordem'>Ordem</label>
                <input type='text' id="ordem" name="ordem" maxlength="5" pattern="[0-9]+$" onblur="GerarCódigoDeBarras(this)">

                <label for='tipo'>Tipo</label>
                <input id='tipo' type="text" name='tipo' />

                <input onclick="check()" type="submit" value="CADASTRAR!">
                <div id='bar'>
                    <svg id="codBarrasVeiculos" ></svg>
                </div>
            </form>





        </div>

    <foorter>
        Created By<a href='https://github.com/shymarrai' target='__blank'>Bruno Gomes</a>
    </foorter>
    </body>
<script>

    function GerarCódigoDeBarras(elementoInput){
        /*A função JsBarcode não aceita string vazia*/
        if(!elementoInput.value){
            elementoInput.value = 0;
        }
        let config = {
            lineColor:'#000'
        }
        JsBarcode('#codBarrasVeiculos', elementoInput.value, config);
    }


    function check(){
        placa = document.getElementById('placa').value
        ordem = document.getElementById('ordem').value
        tipo = document.getElementById('tipo').value

        if(placa.length < 1){
            alert("CAMPO PLACA VAZIO")
        }else if(ordem.length < 1){
            alert("CAMPO ordem VAZIO")
        }else if(tipo.length < 1){
            alert("CAMPO TIPO VAZIO")
        }else{
           window.print()
           console.log('imprimir')
        }





        }


        function remover(element){
            texto = element.value
           element.value = (texto.trim())
           document.getElementById('placa').innerHTML = element.value
        }





</script>

</html>